[submodule "cookbooks/emacs"]
	path = cookbooks/emacs
	url = https://github.com/dvb-industries/emacs.git
[submodule "cookbooks/i3"]
	path = cookbooks/i3
	url = https://github.com/dvb-industries/i3.git
[submodule "cookbooks/fish"]
	path = cookbooks/fish
	url = https://github.com/dvb-industries/fish.git
[submodule "cookbooks/latex"]
	path = cookbooks/latex
	url = https://github.com/dvb-industries/latex.git
[submodule "cookbooks/node"]
	path = cookbooks/node
	url = https://github.com/dvb-industries/node.git
[submodule "cookbooks/haskell"]
	path = cookbooks/haskell
	url = https://github.com/dvb-industries/haskell.git
[submodule "cookbooks/prolog"]
	path = cookbooks/prolog
	url = https://github.com/dvb-industries/prolog.git
[submodule "cookbooks/scheme"]
	path = cookbooks/scheme
	url = https://github.com/dvb-industries/scheme.git
[submodule "cookbooks/geogebra"]
	path = cookbooks/geogebra
	url = https://github.com/dvb-industries/geogebra.git
[submodule "cookbooks/coq"]
	path = cookbooks/coq
	url = https://github.com/dvb-industries/coq.git
[submodule "cookbooks/proofgeneral"]
	path = cookbooks/proofgeneral
	url = https://github.com/dvb-industries/proofgeneral.git
[submodule "cookbooks/caps_lock"]
	path = cookbooks/caps_lock
	url = https://github.com/dvb-industries/caps_lock.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/dvb-industries/java.git
[submodule "cookbooks/leiningen"]
	path = cookbooks/leiningen
	url = https://github.com/dvb-industries/leiningen.git
[submodule "cookbooks/xautolock"]
	path = cookbooks/xautolock
	url = https://github.com/dvb-industries/xautolock.git
[submodule "cookbooks/imagemagick"]
	path = cookbooks/imagemagick
	url = git@github.com:dvb-industries/imagemagick.git
